/* Global Stylesheets */

$primary-color: cornflowerblue;
$secondary-color: purple;


body {
    background: teal;
}

h1 {
    color: $secondary-color;
    text-transform: uppercase;
    font-style: italic;
}