// Global Stylesheet

// Color Palette
$primary-color: #fff;
$second-color: #bb9251;
$third-color: #fff79f;
$tickets: #335062;

//Logo
logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo {
    display: inline;
}

// Typography
//Hide for Mobile & Tablet
article h1,
header p, 
img {
    display: none;
}

h1, h2, h3, p, ul, a {
    font-family: "PT Sans", Arial, sans-serif;
}

h1 {
    color: $primary-color;
    font-size: 3em;
    margin: .5em 0 0 0;
    text-align: center;
    
    .char1 {
        letter-spacing: -2px;
    }
    
    .char2, .char3, .char4, .char7 {
        letter-spacing: -1px;
    }
    
    .char1, .char6 {
        font-size: 1.2em;
    }
    
    .char8 {
        letter-spacing: 3px;
    }
    
    .char9 {
        letter-spacing: 1px;
    }
}

a {
    color: $tickets;
    text-decoration: none;
    box-shadow: 0 0 4px $tickets;
    margin: .75em;
}


h2 {
    color: $second-color;
}

h3 {
    color: $third-color;
}

p, li {
    color: #fff;
    padding: 0;
}

// Video Player Styling
video {
    padding: 0 2%;
    max-width: 100%;
    width: 100%;
}

.mejs__time-total {
    background: $second-color;
}

.mejs__container {
    background: transparent;
}

.mejs__controls:not([style*="display: none"]) {
    background: transparent;
}

//Body Styling
body {
    background: url(../img/background-img.jpg) center #0b0b0b;
    background-size: cover;
    
    flex-flow: column;
    
    article {
        padding: 0 5%;
    }
//    
    .tickets, tickets {
        display: flex;
        justify-content: center;
//        
        a {
            background: #fff;
            border-radius: .5em;
            font-size: 1.875em;
            padding: 4px 10px;
        }
    }
}

// img properties
    img:not(.logo) {
        border-radius: 1em;
        height: 10em;
        margin: 1em 1em 1em 0;
        box-shadow: 0 0 7px $second-color;
    }
    

footer {
    padding: 0 2%;
    font-size: .6em;
}