// Global Stylesheet

// Color Palette
$primary-color: #335062;
$heading-color: #bb9251;
$sub-color: #fff79f;

//Logo
logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

// Typography
//Hide for Mobile & Tablet
article h1,
header p, 
img {
    display: none;
}

h1, h2, h3, p, ul, a {
    font-family: "PT Sans", Arial, sans-serif;
}

h1 {
    color: $primary-color;
    text-align: center;
    
    .char1 {
        letter-spacing: -2px;
    }
    
    .char2, .char11 {
        color: $sub-color;
    }
    
    .char2, .char3, .char4, .char7 {
        letter-spacing: -1px;
    }
    
    .char3 {
        color: #fff;
    }
    
    .char1, .char6 {
        font-size: 1.2em;
    }
    
    .char4 {
        color: $heading-color;
    }
    
    .char7 {
        color: $sub-color;
    }
    
    .char8 {
        letter-spacing: 3px;
        color: #fff;
    }
    
    .char9 {
        letter-spacing: 1px;
        color: $heading-color;
    }
}

a {
    color: $primary-color;
    text-decoration: none;
}


h2 {
    color: $heading-color;
}

h3 {
    color: $sub-color;
}

p, li {
    color: #fff;
    padding: 0;
}

// Video Player Styling
video {
    padding: 0 2%;
    max-width: 100%;
    width: 100%;
}

.mejs__time-total {
    background: $primary-color;
}

//Body Styling
body {
    background: #0b0b0b;
    
    article {
        padding: 0 5%;
    }
    
    .tickets {
        
        a {
            background: #fff;
            border-radius: 8px;
            padding: 4px 10px;
        }
    }
    
    img {
        border-radius: 16px;
    }
}

footer {
    padding: 0 2%;
}