/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

   
    .summary h1, .summary p:nth-child(1), .rating, body tickets {
        display: none;
    }
    
    body {
        flex-flow: column;
        
        h1 {
            margin: .5em 0 0 0;
            font-size: 3em;
        }
        
        h2, h3 {
            line-height: 50%;
        }
        
        h2 {
            margin-top: 1em;
        }
        
        h3 {
            padding-left: .75em;
        }

        p, li {
            font-size: 1.125em;
        }
    }
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Mobile Size";
  }
    
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {
    
    .summary, main article:nth-child(2) {
        display: none;
    }
    
    header p:nth-child(2) {
        display: flex;
        justify-content: center;
        padding: 0 10%;
    }
    
    body {
        display: block;
        
        tickets {
            display: block;
            margin-bottom: 1em;
        }
    
        main {
            display: flex;
            flex-flow: row wrap;

            article {
                min-width: 20em;
            }

            .rating {
                display: flex;
            }

            .img1 {
                display: flex;
                padding-top: 1em;
            }
            
            .imgs {
                display: flex;
                flex-flow: column;
                align-items: flex-start;
            }
        }
    }
    
    
    section {
        padding: 1em;
    }
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Tablet Size";
  }

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
    
    header, .imgs .rating, .summary p:nth-child(4) {
        display: none;
    }
    
    body tickets { // I can't figure out why this isn't working. I've tried everything I can think of.
        display: none;
    }
    .page main {
        flex-flow: row;
        
        .tickets {
            display: flex;
        }
        
        .summary {
            display: flex;
            flex-flow: column;
            justify-content: center;
            padding: 0 15%;
            max-width: 70%;
            
            p:first-child {
                display: flex;
            }

            h1 {
                display: flex;
                font-size: 3.9em;
                text-align: left;

                .char1, .char6 {
                    font-size: 80px;
                }

                .char1 {
                    letter-spacing: -4px;
                }

                .char8 {
                    letter-spacing: 4px;
                }
            }
        }
        
        article {
            display: flex;
            
            img {
                display: flex;
            }
            
            .imgs:not(.rating) {
                display: flex;
            }
        }

    }
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }

}