/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

   .page {
       display: block;
    }
    
    body {

        h1 {
            margin: .5em 0 0 0;
            font-size: 48px;
        }

        a {
            font-size: 30px;
        }
        
        h3 {
            padding-left: .75em;
        }

        p, li {
            font-size: 18px;
        }
    }
        
    main {
        justify-content: center;
    }

    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Mobile Size";
  }
    
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {
    
    header p {
        display: block;
        max-width: 80%;
        margin: .5em auto 0 auto;
    }
    
    .img {
        display: block;
    }
    
    .summary {
        display: none;
    }
    
    main {
        display: flex;
        flex-flow: wrap;
        
        article {
            min-width: 40%;
        }
        
        .tickets {
            margin: auto;
        }
    }
    
    section {
        padding: 1em;
    }
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Tablet Size";
  }

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
    
    header {
        display: none;
    }
    
    img {
        display: inline;
        padding: .5em;
    }
    
    .imgs {
        display: inline;
    }
    
    .summary {
        display: block;
        flex: none;
        max-width: 80%;
        margin: .5em auto 0 auto;
    }
    
    main article {
        min-width: 30%;
        justify-content: center;
    }
    
    section {
        padding-top: 0;
        margin: auto;
        width: 75%;
    }
    
    p {
        padding: 1em 2em;
    }
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }

}